.body {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  display:flex,
}

.title{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: black;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #e2820e;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  margin-left:70px;
}

.table {
    border-collapse: collapse;
  }
   
.p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 40px;
  }
   
.title{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: black;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #e2820e;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}
  
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
  }
   
   
  .input[type="text"],
  .textarea {
    background: #f8f8f8;
    display: block;
    font-size: 16px;
    padding: 12px 15px;
    width: 480px;
    transition: 0.8s;
    border-radius: 0;
  } 
   
  .input[type="text"]:focus,
  .textarea:focus {
    background: #e9f5fb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
   
  .content[name="content"] {
    display: inline-block;
    width: 100%;
    height: 200px;
  }
   
  .input::placeholder,
 .textarea::placeholder {
    color: #ccc;
  }
   
  .form-table {
    width: 100%;
  }
   
  .form-table th,
  .form-table td {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 20px;
  }
   
  .form-table th {
    background: #ffecea;
    padding-left: 50px;
    position: relative;
    text-align: left;
    width: 300px;
  }

.submitfield{
  padding:20px;
  padding-left:330px;
  margin-left: auto;
  margin-right: auto;
  width: 200em
}


.submitbutton {
  color: #fff;
  background-color: #eb6100;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px
}

.submitbutton:hover {
  color: #fff;
  background: #f56500;
  width: 200px
}

.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
.cp_ipselect.cp_sl02 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}



