.Table {
    width: 100vh;
    border-collapse: collapse;
    background: #fff;
    font-size: 16px;
  }
  @media screen and (max_width: 768px) {
    .Table {
      font-size: 12px;
    }
  }
  .Table_Head {
    background: rgb(225, 137, 13);
  }
  .Table_Head_Row_Cell {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .Table_Body_Row:nth_child(even) {
    background: rgb(225, 137, 13);
  }
  .Table_Body_Row_Cell {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

.body {
    display: flex;
    width: 100%;
   justify-content: space-between;
}
.body_bottom{
    display: flex;
    width: 100%;
}
.nftimage{
    padding-top:10px;
    padding-bottom:20px;
    padding-left:120px;
    padding-right:30px
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: orange;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button_loc{
  padding-top: 2rem;
  padding-left: 15rem;

}