.body{
  margin : 20px;
}
.body_upper{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px
}

.serviceName{
  font-size: 100px;
}
.registrationDemo {
  display: flex;
  width: 100%;
 justify-content: space-between;
}

.whyWeDoTitle{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: black;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #e2820e;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/

}

.registrationDemoTitle{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: black;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #e2820e;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}
.Table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: 16px;
  }
  @media screen and (max_width: 768px) {
    .Table {
      font-size: 12px;
    }
  }
 .overviewimage{
  text-align: center;
 }

.body_bottom{
    display: flex;
    width: 100%;
}
.nftimage{
  text-align: center;
    
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: orange;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}

.button_loc{
  padding-top:0px;
  text-align: center;

}
.utilityExp{
  margin-left:20px;
}