.Table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: 16px;
  }
  @media screen and (max_width: 768px) {
    .Table {
      font-size: 12px;
    }
  }
  .Table_Head {
    background: rgb(225, 137, 13);
  }
  .Table_Head_Row_Cell {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0em;
    padding-right: 0.3em;
  }
  .Table_Body_Row:nth_child(even) {
    background: rgb(225, 137, 13);
    padding-left:20px
  }
  .Table_Body_Row_Cell {
    padding-top: 2em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 0.5em;
  }

.Table_Head_Row_Cell_content{
    padding-top: 2em;
    padding-bottom: 0.75em;
    padding-left: 10em;
    padding-right: 0.5em;
}



.eachButton{
    display:flex;
    width:500px
}

.button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #fff;
    background-color: rgb(225, 137, 13);
    min-width: 120px;
    padding:  0.5rem;
    border-radius: 5px;
    text-align: center;
  }
  
.buttonField{
    padding-top:  1rem;
    padding-left: 2rem
}